body {
  margin: 0;
}

/* for whole page */

.content {
  margin: 0;
  width: 100%;
  height: 100%;
  position:absolute;
}

/* epic gradient!!! */

.css-selector {
  background: linear-gradient(270deg, #ff0f7b, #f89b29);
  background-size: 400% 400%;

  -webkit-animation: animation 30s ease infinite;
  -moz-animation: animation 30s ease infinite;
  animation: animation 30s ease infinite;
}

@-webkit-keyframes animation {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes animation {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes animation {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

/* homepage box container thing  */

.instance-container {

  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 70%;
  height: 85%;
}

.title {
  text-align: center;
  font-size: 32pt;
  font-family: "Madimi One", sans-serif;
  color: white;
  text-shadow: 0px 0px 3px black;
}

.container {
  height: auto;

}

.glass {
  background: rgba(255, 255, 255, 0.42);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.8px);
  -webkit-backdrop-filter: blur(12.8px);
  border: 1px solid rgba(255, 255, 255, 0.69);
}

.btn-action {
  background: white;
  border: none;
  border-radius: 16px;
}

.cat-wave {
  width: 80px;
  position:absolute;
}

.nav-container {
  position:fixed;
  bottom: -60px;
  width: 100%;
  background: white;
  margin: 0;
  transition: all ease-out 0.2s;
}

.login-container {
  position:absolute;
  background: white;
  width: 15vw;
  height: 30vh;
  right: 2vw;
  bottom: 10vh;
  border-radius: 16px;
}

.login-body {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.register-container {
  position:absolute;
  background: white;
  width: 15vw;
  height: 35vh;
  right: 2vw;
  bottom: 10vh;
  border-radius: 16px;
}

.loginViewToggle, .navbar-action {
  cursor: pointer;
  user-select: none;
}

.navbar-action:hover {
  box-shadow: 2px 2px 2px gray;
}

.navBarActivator {
  position:absolute;
  bottom:0;
  height: 80px;
  width: 100%;
}

.addGroupButton {
  width: 95%;
  margin: 0;
  position: relative;
  margin-top: 5vh;
  left: 50%;
  transform: translate(-50%, -50%);
}

.questionPageContainer {
  overflow-y:scroll;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-button {
  width:0px;
}

.questionCardContainer {
  width: 75%;
  position:relative;
  left: 12.5%;
  text-align: center;
}

.questionBox {
  background: white;
  border: none;
  font-size: 16pt;
  width: 45vw;
  border-radius: 10px;
}

.questionBox:focus {
  outline: none;
}

.answerText {
  width: 150px;
  height: 100px;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  text-align: center;
  display:inline-block;
  word-wrap: break-word;
  overflow: hidden;
  resize: none;
}


.answerText:focus {
  outline: none;
}

.radioCheckmark {
   width: 20px;
   height: 20px;
   background: white;
   display:inline-block;
}

.radioCheckmark-checked {
  height: 75%;
  width: 75%;
  position:relative;
  left:15%;
  top: 15%;
  background:blue;
  display:none;
}


.checkContainer input:checked ~ .radioCheckmark-checked {
  display: block;
}

.formButton {
  background: white;
  border: none;
  width: 20%;
  font-size: 12pt;
  border-radius: 12pt;
}


.answerContainer{
  display:grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  justify-content: center;
}

.imageUpload {
  display: none;
}

.formButton:hover {
  cursor: pointer;
  background: gray;
}


