body {
  margin: 0;
}

/* for whole page */

.content {
  margin: 0;
  width: 100%;
  height: 100%;
  position:absolute;
}

/* epic gradient!!! */

.css-selector {
  background: linear-gradient(226deg, #fcd4ca, #f48ec3, #fc94b3);
  background-size: 600% 600%;

  -webkit-animation: animation 30s ease infinite;
  -moz-animation: animation 30s ease infinite;
  animation: animation 30s ease infinite;
}

@-webkit-keyframes animation {
  0%{background-position:97% 0%}
  50%{background-position:4% 100%}
  100%{background-position:97% 0%}
}
@-moz-keyframes animation {
  0%{background-position:97% 0%}
  50%{background-position:4% 100%}
  100%{background-position:97% 0%}
}
@keyframes animation {
  0%{background-position:97% 0%}
  50%{background-position:4% 100%}
  100%{background-position:97% 0%}
}

/* homepage box container thing  */

.instance-container {

  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 70%;
  height: 85%;
}

.urbanist {
  font-family: "Urbanist", sans-serif;
}


.title {
  text-align: center;
  font-size: 32pt;
  font-family: "Madimi One", sans-serif;
  color: white;
  text-shadow: 0px 0px 3px black;
}

.container {
  height: auto;

}

.glass {
  background: rgba(255, 255, 255, 0.42);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.8px);
  -webkit-backdrop-filter: blur(12.8px);
  border: 1px solid rgba(255, 255, 255, 0.69);
}

.btn-action {
  border: none;
  border-radius: 16px;
  background-color: #f28482;
  color: white;
}

.cat-wave {
  width: 80px;
  position:absolute;
}

.nav-container {
  position:fixed;
  bottom: -60px;
  width: 100%;
  background: white;
  margin: 0;
  transition: all ease-out 0.2s;
}

.login-container {
  position:absolute;
  background: white;
  width: 15vw;
  height: 30vh;
  right: 2vw;
  bottom: 10vh;
  border-radius: 16px;
}

.login-body {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.register-container {
  position:absolute;
  background: white;
  width: 15vw;
  height: 35vh;
  right: 2vw;
  bottom: 10vh;
  border-radius: 16px;
}

.navbar-action {
  cursor: pointer;
  user-select: none;
  width: 40px;
}

.navbar-action:hover {
  box-shadow: 2px 2px 2px lightgray;
}

.navBarActivator {
  position:absolute;
  bottom:0;
  height: 80px;
  width: 100%;
}

.addGroupButton {
  width: 95%;
  margin: 0;
  position: relative;
  margin-top: 5vh;
  left: 50%;
  transform: translate(-50%, -50%);
}

.questionPageContainer {
  overflow-y:scroll;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-button {
  width:0px;
}

.questionCardContainer {
  width: 75%;
  position:relative;
  left: 12.5%;
  text-align: center;
}

.questionBox {
  background: white;
  border: none;
  font-size: 16pt;
  width: 45vw;
  border-radius: 10px;
}

.questionBox:focus {
  outline: none;
}

.answerText {
  width: 150px;
  height: 100px;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  text-align: center;
  display:inline-block;
  word-wrap: break-word;
  overflow: hidden;
  resize: none;
}


.answerText:focus {
  outline: none;
}

.radioCheckmark {
   width: 20px;
   height: 20px;
   background: white;
   display:inline-block;
}

.radioCheckmark-checked {
  height: 75%;
  width: 75%;
  position:relative;
  left:15%;
  top: 15%;
  background:blue;
  display:none;
}


.checkContainer input:checked ~ .radioCheckmark-checked {
  display: block;
}

.formButton {
  background: white;
  border: none;
  width: 20%;
  font-size: 12pt;
  border-radius: 12pt;
}


.answerContainer{
  display:grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  justify-content: center;
}

.imageUpload {
  display: none;
}

.formButton:hover {
  cursor: pointer;
  background: lightgray;
}

.editInstanceButton {
  position:absolute;
  right: 15px;
  bottom: 15px;
}

.editInstanceButton:hover {
  cursor:pointer;
}

.newQuizButton {
  position:absolute;
  right: 15px;
  top: 15px;
  background-color: #f28482;
  color:white; 
  border-radius: 12pt;
  border:none;
}

.manualConnect {
  margin: 0;
  position:absolute;
  width: 100%;
  height: 75px;
  margin-left:-12px;
  bottom:0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.manualConnect input[type="text"] {
  height: 40px;
  width: 240px;
  border-top-left-radius: 12pt;
  border-bottom-left-radius: 12pt;
  border:none;
  padding-left: 20px;
}

.manualConnect input[type="text"]:focus {
  outline:none;
}

.manualConnect button {
  height: 40px;
  width: 120px;
  border-top-right-radius: 12pt;
  border-bottom-right-radius: 12pt;
  border: none;
  background: #f28482;
  color: white;
  font-size: 14pt;
}

.questionGroupTitle {
  font-size: 16pt;
  width: 80%;
  border-radius: 12pt;
  border: none;
  padding-left: 24px;
  text-align: center;
  height: 48px;
  background: none;
  
}

.questionGroupTitle:focus {
  outline:none;
  background: white;
}

.quizInfo {
  text-align: center;

}

.questionGroupInfo {
  border-bottom-left-radius: 0;
  border-bottom-right-radius:0;
}

.sideBar ul {
  list-style: none;
  text-align: center;
  padding:0;
}

.sideBar {
  left:0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.sideBar li {
  width: 50px;
  height:50px;
  padding-top:12.5%;
  border-radius: 0;
  font-size: 16pt;
  
}

.gameView {
  background: #22223B;
  overflow: hidden;
}

.questionContainer {
  background: #4A4E69;
  width: 86%;
  height: 56%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  border-radius: 50px;
  display: grid;
  grid-template-rows: 10% 90%;
  grid-template-columns: 15% 70% 15%;
}

.answerContainer {
  height: 37%;
  border-radius: 50px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-rows: 100%;
  justify-content: space-around;
  grid-template-columns: 20% 20% 20% 20%;
  transition: all 0.5s;
  padding-top: 2%;
}


.answer {
  background: #4A4E69;
  height: 100%;
  width: 100%;
  border-radius: 50px;
  transition: all 0.5s;
  
}

.answer:hover {
  outline: 6px #F2E9E4 solid;
}

.answer1 {
  grid-column: 1;
}
.answer2 {
  grid-column: 2;
}
.answer3 {
  grid-column: 3;
}
.answer4 {
  grid-column: 4;
}

.answerNumber {
  font-size: 12rem;
  position:absolute;
  margin-left: 1rem;
  color: #22223B;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 800;
  user-select: none;
  bottom: -3.5rem;
}

.previousButton {
  grid-column: 1;
  grid-row: 1 / span 2;
  height: 100%;
  border-right:#22223B 10px solid;
  text-align: center;
  user-select: none;
  font-family: "Bebas Neue", sans-serif;
  font-family: "Lilita One", sans-serif;
  color: #22223B;
  font-size: 12rem;
  padding-top: 4rem;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  transition: all 0.5s;
}

.nextButton {
  grid-column: 3;
  grid-row: 1 / span 2;
  height: 100%;
  border-left:#22223B 10px solid;
  text-align: center;
  user-select: none;
  font-family: "Lilita One", sans-serif;
  color: #22223B;
  font-size: 12rem;
  padding-top: 4rem;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  transition: all 0.5s;

}

.nextButton:hover {
  border-right: #F2E9E4 solid 6px;
}

.previousButton:hover {
  border-left: #F2E9E4 solid 6px;

}

.questionInfo {
  color: #F2E9E4;
  grid-row: 1;
  grid-column: 2;
  text-align: center;
}

.questionInfo span {
  font-size: 26pt;
  font-weight: 600;
}

.clock, .questionsLeft {
  display: inline-block;
}

.deleteButton {
  position:absolute;
  right: 5px;
  top: 5px;
  color: #f87878;
  font-size: 18pt;
}

.deleteButton:hover, .deleteQuestionButton:hover {
  cursor: pointer;
  color: #f43939;
}

.deleteQuestionButton {
  position:relative;
  color: #f87878;
  font-size: 18pt;
  left: 47%;
}
